* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }

  #js-form {
    font-family: 'Playfair Display SC';
  }

  h1 {
    font-family: 'Alfa Slab One';
  }

  h2 {
    padding-top: 20px;
    font-family: 'Playfair Display SC';
    font-size: 42px;
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    text-align: center;
    margin: auto;
  }

  h3 {
    font-family: 'Alfa Slab One';
    font-size: 32px;
    text-decoration: underline;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
    text-align: center;
  }

  p {
    font-family: 'Playfair Display';
    font-size: 20px;
  }

  h4 {
    font-family: 'Playfair Display SC';
    font-size: 24px;
    font-weight: bold;
  }

  .podcast {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

@media screen and (min-width: 600px) {

  .results-list {
    float: left;
    width: 50%;
    padding: 10px;
  }

  #results:after {
    content: "";
    display: table;
    clear: both;
  }

}